.carousel {
    /*height: 95%;*/
}

.carousel-inner {
    /*height: 90%;
    padding-top: 2%;
    margin-bottom: 2%;*/
    /*display: table;*/
    /*width: 96%;
    margin: 30px 2%;*/
}

.carousel-controls {
    font-size: 20px;
    position: absolute;
    top: 0;
    /*top: -30px;*/
    /*transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);*/
    /*width: 112%;
    height: 100%;
    margin-left: -6%;*/
    height: 100%;
    width: 100%;
}

.carousel-controls a {
    opacity: 0;
    color: #fff;
    text-align: center;
    width: 20%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.carousel-controls a:first-child {
    float: left;
    /*border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;*/
}

.carousel-controls a:last-child {
    float: right;
    /*border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;*/
}

.carousel-controls a:hover {
    opacity: 1;
    color: #fff;
    /*border-color: #e4e4e4;
    color: black;*/
}

.carousel-controls i {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.carousel-indicators li {
    background: #616060;
    width: 14px;
    height: 14px;
}

.carousel-indicators .active {
    background-color: darkred;
    margin: 1px;
    width: 14px;
    height: 14px;
}
