html, body {
    height: 100%;
    min-width: 701px;
}

body {
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-in;
    transition: opacity 0.8s ease-in;
}

.ready {
    opacity: 1;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h2, h3, h4 {
    margin: 0;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    margin-right: 6px;
}

a {
    color: #0064b1;
}

a:hover {
    color: #0064b1;
    text-decoration: underline;
}

.no-underline:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    /*line-height: 30px;*/
    line-height: 1.8;
    color: #484848;
    margin: 0;
}

img {
    margin: 0 auto;
    image-rendering: -webkit-optimize-contrast;
}

.section-light {
    padding: 100px 30px 150px 30px;
    border-bottom: 1px solid #dadada;
    background: #fff;
    /*-webkit-box-shadow: 0 10px 20px #ececec inset;
            box-shadow: 0 10px 20px #ececec inset;*/
}

.section-dark {
    padding: 100px 30px 150px 30px;
    background: #f9f9f9;
    border-bottom: 1px solid #dadada;
}

.restricted-width-wide {
    max-width: 1200px;
    margin: 0 auto;
}

.restricted-width-medium {
    max-width: 1000px;
    margin: 0 auto;
}

.restricted-width-narrow {
    max-width: 900px;
    margin: 0 auto;
}

.highlight {
    background: #00a7de !important;
    -webkit-box-shadow: 0 2px 10px #0fc3ff !important;
            box-shadow: 0 2px 10px #0fc3ff !important;
}

.container-fluid {
    /*padding: 0;
    margin: 0;
    -webkit-transition: opacity 0.8s ease-in;
    transition: opacity 0.8s ease-in;*/
}


.match-viewport-height {
    height: 100%;
}

.ready {
    opacity: 1;
}
/*
.row {
    margin: 0 auto;
}
*/
header {
    position: fixed;
    top: 10%;
    z-index: 9999;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    /*width: 100%;
    height: 50px;*/
    opacity: 0;
    width: 40px;
    height: 250px;
    background: #3a3a3a;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 1s cubic-bezier(.78, 0, .02, 1);
    transition: all 1s cubic-bezier(.78, 0, .02, 1);
}

.fixed {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
}

footer {
    /*height: 100px;*/
    line-height: 100px;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#212121), to(#1d1d1d));
    background: linear-gradient(to bottom, #212121, #1d1d1d);
    text-align: center;
}

.anchor-image {
    color: #fff;
    font-size: 20px;
    padding: 0 10px;
    vertical-align: text-bottom;
}

.anchor-image--black {
    color: #000;
}


.header__nav-menu > ul {
    text-align: center;
    line-height: 50px;
}

.header__nav-menu > ul > li {
    /*display: inline;
    padding: 6px 12px;*/
    color: #fff;
    /*font-size: 16px;*/
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    z-index: 1;
    background: #3a3a3a;
    -webkit-box-shadow: 0 1px 1px #585858 inset, -2px 0px 3px #1f1f1f;
            box-shadow: 0 1px 1px #585858 inset, -2px 0px 3px #1f1f1f;
}


.header__nav-menu > ul > li:first-child {
    border-top-right-radius: 6px;
    -webkit-box-shadow: -2px 0px 3px #1f1f1f;
            box-shadow: -2px 0px 3px #1f1f1f;
}

.header__nav-menu > ul > li:last-child {
    border-bottom-right-radius: 6px;
    border-bottom: none;
    /*box-shadow: 0 1px 1px #585858 inset;*/
}

.header__nav-menu > li:hover {
    color: #b3b3b3;
    text-decoration: none;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
}

.header__nav-menu > ul > li::after {
    content: attr(data-section-name);
    display: inline-block;
    position: absolute;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: -1;
    font-size: 15px;
    padding: 0 10px;
    visibility: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: inherit;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.header__nav-menu > ul > li:hover::after {
    -webkit-transform: translateX(6px);
            transform: translateX(6px);
    visibility: visible;
}

.active-section {
    border-left: 4px solid #fff;
}

@media (max-width: 1100px) {
    header {
        min-width: 650px;
        top: 0;
        width: 100%;
        height: 50px;
        border-radius: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    .fixed {
        -webkit-transform: translateY(0%);
                transform: translateY(0%);
    }

    .active-section {
        border-left: none;
        border-bottom: 2px solid #fff;
    }

    .header__nav-menu > ul {
        line-height: 42px;
        margin-top: 4px;
    }

    .header__nav-menu > ul > li {
        display: inline;
        padding: 6px;
        margin-left: 4px;
        margin-right: 4px;
        color: #fff;
        width: 50px;
        font-size: 18px;
        z-index: 1;
        background: inherit;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        -webkit-transition: color 0.2s ease-out;
        transition: color 0.2s ease-out;
    }

    .header__nav-menu > ul > li::after {
        padding: 0;
    }

    .header__nav-menu > ul > li > i {
        display: none;
    }

    .header__nav-menu > ul > li:hover {
        color: #a2a2a2;
    }

    .header__nav-menu > ul > li::after {
        position: relative;
        visibility: visible;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }

    .header__nav-menu > ul > li:hover::after {
        color: #dadada;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}



.home__navigation-container {
    margin-top: 35px;
    position: relative;
    top: 51%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.home__nav-menu > ul {
    list-style-type: none;
    font-size: 18px;
    text-align: center;
    top: -100px;
    right: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: table-caption;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.home__nav-menu ul > li {
    /*padding: 6px 12px;*/
    width: 120px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    /*color: #046dca;*/
    color: #fff;
    opacity: 1;
    font-size: 18px;
    overflow: hidden;
    /*background: #545454;*/
    line-height: 50px;
    cursor: pointer;
}

.centering-container {
    max-width: 1200px;
    position: relative;
    top: 60%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.no-margin {
    margin: 0 !important;
}

@media (min-width: 992px) {
    .home__nav-menu ul > li {
        -webkit-transform: translateX(0%);
                transform: translateX(0%);
        -webkit-transition: all 1s cubic-bezier(0.78, 0, 0.45, 0.86);
        transition: all 1s cubic-bezier(0.78, 0, 0.45, 0.86);
        /*transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;*/
    }
}

@media (min-width: 992px) {
    .home__navigation-container {
        position: relative;
        top: 47%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .hexagon {
        position: relative;
        width: 120px;
        height: 68px;
        line-height: 68px;
        background-color: transparent;
        margin: 34.64px 0;
        border-left: solid 3px #ffffff;
        border-right: solid 3px #ffffff;
        transition: transform 0.3s linear;
    }

    .hexagon:before,
    .hexagon:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 88px;
        height: 86px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 13.4px;
        border-radius: 6px;
    }

    .hexagon:before {
        top: -43px;
        border-top: solid 4.8284px #ffffff;
        border-right: solid 4.8284px #ffffff;
        transition: border-top 0.4s linear, border-right 0.4s linear 0.4s;
    }

    .hexagon:after {
        bottom: -43px;
        border-bottom: solid 4.8284px #ffffff;
        border-left: solid 4.8284px #ffffff;
    }
}


/* DESKTOPS */
@media (min-width: 992px) and (min-height: 700px) {
    .home__nav-menu ul > li.hidden-right {
        opacity: 0;
        -webkit-transform: translateX(600%);
                transform: translateX(600%);
    }

    .home__nav-menu ul > li:nth-child(2) {
        right: 65px;
        bottom: 28px;
    }

    .home__nav-menu ul > li:nth-child(3) {
        bottom: 58px;
    }

    .home__nav-menu ul > li:nth-child(4) {
        left: 65px;
        bottom: 87px;
    }

    .home__nav-menu ul > li:nth-child(5) {
        bottom: 115px;
    }
}


/* LAPTOPS */
@media (min-width: 992px) and (max-height: 699px) {
    .home__navigation-container {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .home__nav-menu ul > li {
        width: 100px;
        font-size: 16px;
    }

    .home__nav-menu ul > li:nth-child(2) {
        right: 54px;
        bottom: 34px;
    }

    .home__nav-menu ul > li:nth-child(3) {
        bottom: 69px;
    }

    .home__nav-menu ul > li:nth-child(4) {
        left: 54px;
        bottom: 103px;
    }

    .home__nav-menu ul > li:nth-child(5) {
        bottom: 137px;
    }

    .hexagon {
        position: relative;
        width: 100px;
        height: 54px;
        line-height: 54px;
    }

    .hexagon:before,
    .hexagon:after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 74px;
        height: 74px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 10.4px;
        border-radius: 6px;
    }

    .hexagon:before {
        top: -37px;
        border-top: solid 4.8284px #ffffff;
        border-right: solid 4.8284px #ffffff;
        transition: border-top 0.4s linear, border-right 0.4s linear 0.4s;
    }

    .hexagon:after {
        bottom: -37px;
        border-bottom: solid 4.8284px #ffffff;
        border-left: solid 4.8284px #ffffff;
    }

}


/* MOBILE DEVICES */
@media (max-width: 991px) {
    .carousel-overlay {
        display: none;
    }

    .scroll-to-projects {
        /*display: none;*/
    }

    .home__intro {
        position: relative;
        top: 38%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        margin-bottom: 30px;
    }

    .home__navigation-container {
        position: relative;
        top: 30%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }

    .home__nav-menu > ul {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .home__nav-menu > ul > li {
        margin-left: 4px;
        margin-right: 4px;
        border: 3px solid #fff;
        border-radius: 5px;
        width: 110px;
    }

    .hexagon {
        /*height: 50px;
        line-height: 44px;
        border: 3px solid #fff;
        border-radius: 5px;*/
        /*height: initial;
        line-height: initial;
        border: 3px solid #fff;
        border-radius: 5px;
        border: none;
        margin: 0;*/
    }

    .centering-container {
        top: 48%;
    }

    /*.home__navigation-container {
        bottom: -20px;
    }*/
}

@media (max-width: 700px) {
    .home__nav-menu > ul > li {
        font-size: 16px;
        width: initial;
        padding-left: 10px;
        padding-right: 10px;
    }

    .home__nav-menu > ul > li i {
        display: none;
    }

    .home__intro {
        top: 0;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }

    .home__navigation-container {
        top: 0;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        margin-top: 45px;
        padding-bottom: 40px;
    }
}


@media (max-width: 576px) {
    .section-dark, .section-light {
        padding-left: 15px;
        padding-right: 15px;
    }

    .home {
        padding-top: 20px;
    }

    .scroll-to-projects {
        display: none;
    }

    .home__navigation-container {
        margin-top: 10px;
    }

    .home__nav-menu > ul > li {
        width: 100%;
        line-height: 35px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .home__nav-menu > ul > li i {
        display: initial;
        position: absolute;
        left: 10px;
        top: 8px;
    }
}




/* ==========================================================================
 * Section - HOME
 * ========================================================================== */
.home {
    position: relative;
    height: 100%;
    overflow: hidden;
    background: -webkit-gradient(linear, left top, right bottom, from(#3adca9), to(#3abca9));
    background: linear-gradient(to bottom right, #3adca9, #3abca9);
    background: -webkit-gradient(linear, right top, left bottom, from(#59daef), to(#3aaabc));
    background: linear-gradient(to bottom right, #59daef, #3aaabc);
    color: #676767;
}

.home__intro {
    position: relative;
    top: 44%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
}

.home__title-container {
    padding-bottom: 40px;
    margin-bottom: 35px;
    border-bottom: 2px solid #fff;
}

.home__title {
    color: inherit;
}

.home__secondary-title {
    color: #676767;
}

.home__feature {
    /*color: #676767;*/
    color: inherit;
    font-size: 22px;
    line-height: 1.3;
}




.scroll-to-projects {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

.scroll-to-projects button {
    background: transparent;
    border: none;
    color: #757575;
    color: #fff;
    font-size: 18px;
    /*text-shadow: 0 0 0 #fff;
    animation: pulsate 1.5s infinite alternate;*/
}

.scroll-to-projects button:focus,
.scroll-to-projects button:active {
    outline: none;
}

.scroll-to-projects i {
    font-size: 35px;
}

@media(max-height: 650px) {
    .home__intro, .home__navigation-container {
        transform: none;
        top: 0;
    }
}
/*
@media(min-height: 601px) and (max-width: 991px) {
    .home__navigation-container {
        margin-top: 35px;
    }
}*/

@media(max-height: 450px) {
    .scroll-to-projects {
        display: none;
    }
}

.about {
    /*margin-top: 40px;*/
    /*position: relative;
    top: 40%;
    transform: translateY(-50%);*/
    max-width: 1200px;
    margin: 0 auto;
}

@media(max-width: 768px) {
    .about {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .about div first-child {
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .about div last-child {
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
}


.about-text {
    margin-top: 20px;
}


/* ==========================================================================
 * Projects section
 * ========================================================================== */
.project {
    max-width: 1000px;
    margin: 0 auto 140px auto;
}

.project:last-child {
    margin-bottom: 0;
}

.project__title {
    margin-bottom: 30px;
}

.project__title a {
    color: #5d5d5d;
}

.project__thumbnail-container {
    position: relative;
    height: 350px;
    overflow-y: hidden;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 4px #969696;
            box-shadow: 0px 1px 4px #969696;
    -webkit-transition: height 0.2s ease-in;
    transition: height 0.2s ease-in;
}

.project__thumbnail-container--dark {
    background: #000;
}

.project__thumbnail-container::before {
    content: "\f00e";
    font-family: FontAwesome;
    font-size: 50px;
    color: white;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 350px;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.project__thumbnail-container:hover::before {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.play-gif.project__thumbnail-container::before {
    content: "\f04b";
    opacity: 1;
}

.stop-gif.project__thumbnail-container::before {
    content: "\f04c";
    opacity: 1;
    text-align: left;
    font-size: 35px;
    padding-left: 20px;
    height: 600px;
    line-height: 70px;
}

.play-gif.project__thumbnail-container:hover::before,
.stop-gif.project__thumbnail-container:hover::before {
    background: transparent;
}

.stop-gif.project__thumbnail-container {
    height: 600px;
}

.gif-wrapper {
    margin: 0 auto;
    width: 100%;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

.gif-wrapper.gif-playing {
    width: 550px;
}

.project__thumbnail {
    width: 100%;
    height: auto;
    border-radius: 0;
}

.project__details {
    background: #fff;
    padding: 15px 15px 20px 15px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 4px #d4d4d4;
            box-shadow: 0px 0px 4px #d4d4d4;
}

.project__description > p {
    font-size: 15px;
}

.project__content-divider {
    position: relative;
    height: 20px;
    text-align: center;
    border-bottom: 1px solid #dedede;
}

.project__actions {
    margin-top: 20px;
}

.project__actions > span {
    float: right;
    line-height: 40px;
}

.project__actions a {
    vertical-align: middle;
    font-size: 14px;
}

.project__additional-info {
    color: #484848;
    border-top: 1px solid #dedede;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    -webkit-transition: margin 0.6s, padding 0.6s, max-height 0.6s ease-out, opacity 0.3s ease-in 0.35s;
    transition: margin 0.6s, padding 0.6s, max-height 0.6s ease-out, opacity 0.3s ease-in 0.35s;
}

.project__additional-info.open {
    margin-top: 18px;
    padding: 20px 0;
    visibility: visible;
    max-height: 400px;
    opacity: 1;
}

.project__toggle-additional-info > i {
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.project__toggle-additional-info > i.open {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}

.project__technical-details > ul {
    list-style-type: disc;
    margin-top: 15px;
    margin-left: 30px;
    line-height: 1.5;
}

.project__keywords {
    margin-top: 30px;
}

.project__keyword-labels {
    margin-top: 15px;
}

.project__keyword-labels > span {
    display: inline-block;
    padding: 1px 5px;
    margin-bottom: 4px;
    font-size: 12px;
    background: #0183e6;
    border: 1px solid #0183e6;
    border-radius: 3px;
    color: #fff;
}

@media screen and (max-width: 991px) {
    .project__thumbnail-container,
    .project__thumbnail-container::before {
        height: 300px;
        line-height: 300px;
    }
}


/* ==========================================================================
 * About section
 * ========================================================================== */
.about__title {
    margin-bottom: 40px;
    color: #6d6d6d;
}

.about__profile-picture-container {
    float: left;
    margin-right: 20px;
}

.about__profile-picture {
    /*height: 265px;*/
    height: 215px;
    width: auto;
    display: inline-block;
    border-radius: 6px;
}

.about__contact-info {
    text-align: center;
    font-size: 16px;
    border-top: 1px solid #dedede;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 400ms ease-out;
            transition: all 400ms ease-out;
}

.about__phone-number {
    display: inline-block;
    line-height: 30px;
    margin-left: 10px;
    padding-left: 16px;
    border-left: 1px solid #dedede;
}


/* ==========================================================================
 * Skills section
 * ========================================================================== */
 .skills__container {
    margin-bottom: 100px;
 }

.skills__title {
    text-align: right;
}

.skills__chart {
    background: url("./images/chart-axis-3.png") repeat-x;
    height: 300px;
    border-bottom: 2px solid #bdbdbd;
    font-size: 16px;
    color: #333333;
    margin-top: 40px;
}

.skills__proficiency-labels {
    display: inline-block;
    position: relative;
    bottom: 10px;
    border-right: 2px solid #bdbdbd;
    background: #fff;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 10px;
}

.skills__proficiency-labels li {
    display: list-item;
    height: 100px;
}

.skills__bar {
    display: inline-block;
    vertical-align: bottom;
    -webkit-box-shadow: 0 2px 0px rgba(255, 255, 255, 0.6) inset;
            box-shadow: 0 2px 0px rgba(255, 255, 255, 0.6) inset;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    position: relative;
    bottom: 12px;
    white-space: nowrap;
    -webkit-transition: height 1s;
    transition: height 1s;
}

.skills__bar.html-css {
    background: -webkit-gradient(linear, left top, left bottom, from(#e0b19d), to(#f16528));
    background: linear-gradient(to bottom, #e0b19d, #f16528);
    border: 1px solid #ff8b59;
    height: 250px;
}

.skills__bar.javascript {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffe1a9), to(orange));
    background: linear-gradient(to bottom, #ffe1a9, orange);
    border: 1px solid #fbb941;
    height: 300px;
}

.skills__bar.react {
    background: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(#39bde8));
    background: linear-gradient(to bottom, lightblue, #39bde8);
    border: 1px solid #45c1e8;
    height: 280px;
}

.skills__bar.jquery {
    background: -webkit-gradient(linear, left top, left bottom, from(#b0b4ea), to(#777bb4));
    background: linear-gradient(to bottom, #b0b4ea, #777bb4);
    border: 1px solid #989cce;
    height: 235px;
}

.skills__bar.ux-ui-design {
    background: -webkit-gradient(linear, left top, left bottom, from(#fdd4db), to(#ffaebc));
    background: linear-gradient(to bottom, #fdd4db, #ffaebc);
    border: 1px solid #ffc6cf;
    height: 120px;
}

.skills__bar.php-java {
    background: -webkit-gradient(linear, left top, left bottom, from(#e2c6e2), to(#b530b5));
    background: linear-gradient(to bottom, #e2c6e2, #b530b5);
    border: 1px solid #d08ed0;
    height: 230px;
}

.skills__bar.mysql {
    background: -webkit-gradient(linear, left top, left bottom, from(#c7ad9b), to(#8B4513));
    background: linear-gradient(to bottom, #c7ad9b, #8B4513);
    border: 1px solid #b17e5a;
    height: 198px;
}

.skills__bar.nodejs {
    background: -webkit-gradient(linear, left top, left bottom, from(#add0a2), to(#74ac63));
    background: linear-gradient(to bottom, #add0a2, #74ac63);
    border: 1px solid #8cbd7d;
    height: 167px;
}

.skills__bar > div {
    position: relative;
    top: 100%;
    margin-top: 25px;
    margin-left: 14px;
    -webkit-transform: rotate(45deg);
         transform: rotate(45deg);
}

.skills__bar.deflated {
    height: 0;
}

@media screen and (min-width: 992px) {
    .skills__bar {
        margin-left: 3%;
        width: 7%;
    }
}

@media screen and (max-width: 991px) {
    .skills-chart {
        font-size: 14px;
    }

    .skills__bar {
        width: 6.5%;
        margin-left: 3%;
    }

    .skills__bar-label {
        margin-top: 20px;
        margin-left: 8px;
    }
}











.carousel-controls {
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    width: 112%;
    height: 100%;
    margin-left: -6%;
}

.carousel-controls a {
    color: #fff;
    text-align: center;
    width: 5%;
    height: 100%;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.carousel-controls a:first-child {
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.carousel-controls a:last-child {
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.carousel-controls a:hover {
    background: #737373;
    border-color: #e4e4e4;
    color: black;
}

.carousel-controls i {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.carousel-controls li {
    width: 15px;
    height: 15px;
    background: #616060;
}

.carousel-controls .active {
    width: 16px;
    height: 16px;
    background: black;
}


.carousel-indicators {
    position: absolute;
    bottom: -50px;
    left: 0;
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.carousel-indicators li {
    background: #616060;
    width: 13px;
    height: 13px;
}

.carousel-indicators .active {
    background-color: #fff;
    width: 15px;
    height: 15px;
}


.carousel-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #484848;
    background: -webkit-gradient(linear, left top, left bottom, from(#1f1f1f), to(#252525));
    background: linear-gradient(#1f1f1f, #252525);
    z-index: 2;
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -ms-transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
    transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    /*transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);*/
    -ms-transform: translateY(-120%);
    -webkit-transform: translateY(-120%);
    -moz-transform: translateY(-120%);
    -o-transform: translateY(-120%);
    transform: translateY(-120%);
}

.carousel-overlay.open {
    transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.toggle-overlay {
    float: right;
    background: transparent;
    border: none;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
}


.btn {
    border: none;
    color: #fff;
    border-radius: 4px;
    -webkit-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}

.btn--toggle {
    padding: 0 20px;
    height: 40px;
    color: #0064b1;
    background: #fff;
    border: none;
}

.btn--toggle:hover {
    color: #0064b1;
}

.btn--toggle:focus, .btn--toggle:active {
    color: #0064b1;
    outline: none;
}

.btn--call-to-action {
    padding: 10px 25px;
    background: #52b152;
    font-weight: bold;
}

.btn--call-to-action:hover {
    color: #fff;
    background: #047104;
}

.btn--email {
    font-size: 14px;
}

.btn--linkedin {
    color: #fff;
    background: #4fa0f7;
    border-radius: 4px;
    font-size: 20px;
}

.btn--linkedin:hover {
    color: #fff;
    background: #096fdc;
}

.btn--github {
    color: #fff;
    background: #444;
    font-size: 20px;
}

.btn--github:hover {
    color: #fff;
    background: #272727;
}
