html {
    /*height: 100%;*/
    /*background: linear-gradient(#0d1315, #272727);*/
}

body {
    background: none;
    color: #616060;
    margin-top: 50px;
    min-width: 576px;
}

section {
    /*margin-top: 20px;*/
    /*padding-bottom: 40px;*/
    border-bottom: 2px solid white;
}

section:last-child {
    border-bottom: none;
}

h2, h3, h4 {
    margin: 0;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    font-size: 16px !important;
    margin-right: 6px;
}

a {
    /*font-size: 16px;
    color: white;
    text-decoration: none;*/
}

a:hover {
    /*color: white;*/
    /*text-decoration: underline;*/
}

p {
    font-size: 16px;
}

img {
    margin: 0 auto;
}

.container-fluid {
    float: none;
    /*max-width: 1400px;*/
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.row {
    margin: 0;
}

.header {
    width: 100%;
    height: 50px;
    background: #676767;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-content {
    max-width: 1100px;
    margin: auto;
}

.nav-menu {
    margin-top: 14px;
    display: inline;
}

.nav-menu ul {
    list-style-type: none;
    -webkit-padding-start: 0;
}

.nav-menu li {
    display: inline;
    font-size: 16px;
    padding: 4px 15px;
    cursor: pointer;
    border-right: 1px solid #fff;
}

.nav-menu li:first-child {
    padding-left: 0;
}

.nav-menu li:last-child {
    border: none;
}

.nav-menu li:hover {
    text-decoration: underline;
}

.to-github-account {
    margin-top: 7px;
}

.to-github-account button {
    float: right;
    background: transparent;
    margin-right: 0;
}

.to-github-account button:hover {
    background-color: #5bc0de;
}


.section-head {
    padding: 10px;
    position: relative;
    top: 15%;
    transform: translateY(-50%);
}

#skills .section-head {
    top: 12%;
}

.about {
    /*margin-top: 40px;*/
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.about-text {
    margin-top: 20px;
    line-height: 130%;
    font-size: 16px;
    text-align: justify;
}

.project {
    /*margin-top: 30px;*/
    height: 100%;
}

.thumbnail-row {
    /*border-bottom: 1px solid #a7a7a7;*/
}

.thumbnail-container {
    text-align: center;
    /*margin-top: 40px;*/
    color: transparent;
}

.thumbnail-container img:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.thumbnail-container img {
    border: 5px solid #e4e4e4;
    border-radius: 5px;
    /*margin-top: 40px;*/

}

.thumbnail-overlay {
    height: calc(100% - 10px);
    width: calc(100% - 40px);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.thumbnail-overlay:hover {
    opacity: 1;
}

.thumbnail-overlay::after {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    content: "\f00e";
    font-family: FontAwesome;
    font-size: 50px;
    color: white;
}


.embed-container {
    padding: 0;
    height: 100%;
}

.embed-container div {
    height: 100%;
}

.carousel-controls {
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 112%;
    margin-left: -6%;
}

.carousel-controls a:first-child {
    float: left;
    color: #616060;
    padding: 15px;
    border: 5px solid transparent;
    border-radius: 5px;
}

.carousel-controls a:last-child {
    float: right;
    color: #616060;
    padding: 15px;
    border: 5px solid transparent;
    border-radius: 5px;
}

.carousel-controls a:hover {
    background: white;
    border-color: #e4e4e4;
}

.carousel-controls li {
    width: 15px;
    height: 15px;
    background: #616060;
}

.carousel-controls .active {
    width: 16px;
    height: 16px;
    background: black;
}


.carousel-indicators {
    position: relative;
    display: inline;
    bottom: 0;
    left: 0;
    margin-left: 0;
    z-index: 0;
}

.carousel-indicators li {
    background: #616060;
}

.carousel-indicators .active {
    background-color: black;
}

.project-info {
    background: #05001a;
    height: 100%;
    padding-top: 40px;
}


.project-info h3 {
    font-size: 20px;
}

.project-navigation {
    margin-bottom: 30px;
}

.project-navigation button {
    font-size: 14px !important;
    padding: 2px 0;
    color: white;
    width: 100%;
    background: transparent;
}

.project-name {
    line-height: 35px;
    display: inline-block;
}
/*
.previous-project {
    float: left;
}

.next-project {
    float: right;
}
*/

.project-description {
    text-align: justify;
    /*padding-left: 15px;
    padding-right: 15px;*/
    margin-top: 30px;
    padding-bottom: 20px;
    font-size: 14px;
}

.project-description p {
    font-size: 14px;
}

.project-tags {
    padding-top: 5px;
}

.project-tags span {
    display: inline-block;
    padding: 2px 6px;
    background: #0064b1;
    border: 3px solid #81a8ff;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}


.project-links {
    text-align: center;
    margin-top: 15px;
}

.project-links button {
    /*width: 100%;*/
    margin-bottom: 11px;
}


.project-technologies {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.project-technologies-wrapper {
    margin-top: 10px;
}


.project-technologies i:last-child {
    margin-right: 0;
}



.carousel-inner {
    height: 100%;
}





.project-thumbnails {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
}
.project-thumbnails img {
    width: 100%;
    cursor: pointer;
}

.project-image-large {
    width: 100%;
    height: 100%;
}

.projects {

}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: none;
}


.image-carousel {
    /*position: fixed;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    background: whitesmoke;
    opacity: 0;*/
}

.image-carousel:after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.project-image-large {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

/*
.project:after {
    content: "";
    width: 98%;
    margin-left: 1%;
    height: 40px;
    border-bottom: 1px solid #a7a7a7;
    display: block;
}
*/

.skills {
    text-align: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}

.skills-display {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 100px;
}


.icon-wordmark {
    margin-top: 10px;
}
