body {
    background: none;
    margin-top: 50px;
    min-width: 650px;
}

section {
    border-bottom: 2px solid white;
    padding: 40px 0;
}

section:last-child {
    border-bottom: none;
}

h2, h3, h4 {
    margin: 0;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    font-size: 16px !important;
    margin-right: 6px;
}

a {
    color: #0064b1;
}

a:hover {
    color: #0064b1;
    text-decoration: underline;
}

p {
    font-size: 16px;
    line-height: 30px;
    color: #484848;
}

img {
    margin: 0 auto;
    image-rendering: -webkit-optimize-contrast;
}

.container-fluid {
    float: none;
    /*max-width: 1400px;*/
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.row {
    margin: 0;
}

.header {
    width: 100%;
    height: 50px;
    background: #676767;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header-content {
    max-width: 1100px;
    margin: auto;
}

.nav-menu {
    margin-top: 14px;
    display: inline;
}

.nav-menu ul {
    list-style-type: none;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
}

.nav-menu li {
    display: inline;
    font-size: 16px;
    padding: 4px 15px;
    cursor: pointer;
    border-right: 1px solid #fff;
}

.nav-menu li:first-child {
    padding-left: 0;
}

.nav-menu li:last-child {
    border: none;
}

.nav-menu li:hover {
    text-decoration: underline;
}

.to-github-account {
    width: 100%;
    border: 1px solid #b5b2b2;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    border-radius: 3px;
    font-size: 18px;
    line-height: 25px;
    color: black;
    margin-right: 0;
    vertical-align: middle;
    margin-bottom: 10px;
}

.to-github-account i {
    font-size: 18px;
}

.section-head {
    /*padding: 10px;
    position: relative;
    top: 15%;
    transform: translateY(-50%);*/
}
/*
#skills .section-head {
    top: 12%;
}*/

.about {
    /*margin-top: 40px;*/
    /*position: relative;
    top: 40%;
    transform: translateY(-50%);*/
    max-width: 1200px;
    margin: 0 auto;
}

@media(max-width: 768px) {
    .about {
        display: flex;
        flex-direction: column;
    }

    .about div first-child {
        order: 2;
    }

    .about div last-child {
        order: 1;
    }
}


.about-text {
    margin-top: 20px;
}

.project {
    height: 100%;
}

.thumbnail-container {
    text-align: center;
    color: transparent;
}

.thumbnail-container img:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.thumbnail-container img {
    width: 100%;
    height: auto;
    border: 4px solid #e4e4e4;
    border-radius: 4px;
}

.thumbnail-overlay {
    height: 99%;
    width: 96%;
    height: calc(100% - 9px);
    width: calc(100% - 38px);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 5px;
    left: 19px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
}

.thumbnail-overlay:hover {
    opacity: 1;
}

.thumbnail-overlay::after {
    display: block;
    position: relative;
    top: 50%;
    content: "\f00e";
    font-family: FontAwesome;
    font-size: 50px;
    color: white;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.to-github-repo {
    float: right;
    border: 1px solid #b5b2b2;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    border-radius: 3px;
    font-size: 18px;
    line-height: 25px;
    color: black;
    margin-right: 0;
    vertical-align: middle;
}


.embed-container {
    height: 750px;
    overflow-y: hidden;
    margin-bottom: -50px;
}

.embed-container div {
    height: 100%;
    margin-top: -50px;
}

.carousel-controls {
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    /*width: 114%;*/
    /*width: calc(100% + 140px);*/
    width: 112%;
    height: 100%;
    margin-left: -6%;
}

.carousel-controls a {
    color: #fff;
    text-align: center;
    width: 5%;
    height: 100%;
    transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

.carousel-controls a:first-child {
    float: left;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.carousel-controls a:last-child {
    float: right;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.carousel-controls a:hover {
    background: #737373;
    border-color: #e4e4e4;
    color: black;
}

.carousel-controls i {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-controls li {
    width: 15px;
    height: 15px;
    background: #616060;
}

.carousel-controls .active {
    width: 16px;
    height: 16px;
    background: black;
}


.carousel-indicators {
    /*position: relative;
    display: inline;
    top: 20px;
    left: 0;
    margin-left: 0;
    z-index: 0;
    left: 50%;*/
    position: absolute;
    bottom: -50px;
    left: 0;
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-indicators li {
    background: #616060;
    width: 13px;
    height: 13px;
}

.carousel-indicators .active {
    background-color: #fff;
    width: 15px;
    height: 15px;
}

div[id^="project-"] {
    color: #7d7d7d;
    border-top: 1px solid #eaeaea;
    padding-bottom: 50px;
    padding-top:60px;
}

div[id^="project-"] .row {
    max-width: 1200px;
    margin: 0 auto;
}

.project-details {
    margin-top: 20px;
}

.project-details h3 {
    padding: 10px 0 20px 0;
    color: #0064b1;
}

.project-info {
    background: #05001a;
    height: 100%;
    padding-top: 40px;
}


.project-info h3 {
    font-size: 20px;
}

.project-navigation {
    margin-bottom: 30px;
}

.project-navigation button {
    font-size: 14px !important;
    padding: 2px 0;
    color: white;
    width: 100%;
    background: transparent;
}

.project-name {
    line-height: 35px;
    display: inline-block;
}
/*
.previous-project {
    float: left;
}

.next-project {
    float: right;
}
*/

.project-description {
    text-align: justify;
    /*padding-left: 15px;
    padding-right: 15px;*/
    margin-top: 30px;
    padding-bottom: 20px;
    font-size: 14px;
}

.project-description p {
    font-size: 14px;
}

.project-tags {
    padding-top: 5px;
}

.project-tags span {
    display: inline-block;
    padding: 2px 6px;
    margin-bottom: 4px;
    /*background: #0064b1;
    border: 3px solid #81a8ff;
    border-radius: 5px;
    color: white;*/
    font-size: 14px;
    /*
    */
    /*background: #1a93b9;
    border: 1px solid #1a93b9;
    border-radius: 5px;*/
    background: #0064b1;
    border: 1px solid #0064b1;
    border-radius: 3px;
    color: #fff;
}


.project-links {
    text-align: center;
    margin-top: 15px;
}

.project-links button {
    /*width: 100%;*/
    margin-bottom: 11px;
}


.project-technologies {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}

.project-technologies-wrapper {
    margin-top: 10px;
}


.project-technologies i:last-child {
    margin-right: 0;
}








.project-thumbnails {
    padding-top: 20px;
    padding-bottom: 30px;
    width: 100%;
}
.project-thumbnails img {
    width: 100%;
    cursor: pointer;
}

.project-image-large {
    width: 100%;
    height: 100%;
}

#projects {
    /*background: #f9f9f9;*/
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #484848;
    background: linear-gradient(#1f1f1f, #252525);
    z-index: 2;
    transition: transform 0.4s ease-out;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.overlay.open {
    transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.overlay.closed {
    transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.toggle-overlay {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    font-size: 30px;
    color: white;
}

.image-carousel {
    /*position: fixed;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    background: whitesmoke;
    opacity: 0;*/
}

.image-carousel:after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.project-image-large {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}

/*
.project:after {
    content: "";
    width: 98%;
    margin-left: 1%;
    height: 40px;
    border-bottom: 1px solid #a7a7a7;
    display: block;
}
*/

.skills {
    text-align: center;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    /*position: relative;
    top: 40%;
    transform: translateY(-50%);*/
}

.skills-display {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 60px;
}


.icon-wordmark {
    margin-top: 10px;
}
